body {
    text-align: center;
    font-family: arial;
    font-size: 16px;
    margin: 0;
    padding: 0;
}

#container {
    width: 70%;
    padding: 1em;
    text-align: left;
    border: 1px solid #DDD;
    margin: 0 auto;
}

#container h1 {
    font-size: 20px;
}

#cabecera {
    height: 50px;
    width: 900px;
    background-color: rgb(26, 26, 109);
    text-decoration: red;
    
}

#cabecera p {
    color:white;
    font-weight: bold;
}